@charset "UTF-8";
/* --------------------------------------
   画面パーツのスタイル設定
  -------------------------------------- */
#main {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  height: 100%;
}
#main #fileZone {
  width: 400px;
  height: 360px;
  left: 50%;
  bottom: 50%;
  margin-left: -200px;
  margin-bottom: -180px;
  position: absolute;
  color: #9197a3;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  z-index: 10;
  padding: 10px;
}
#main #fileZone #headerZone {
  font-size: 30px;
  margin-bottom: 5px;
}
#main #fileZone.off {
  top: auto;
  bottom: 0;
  margin-bottom: 0;
  height: 60px;
}
#main #fileZone.off div.inner {
  display: none;
}
#main #fileZone #fileZoneInner {
  border: 5px dotted rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}
#main #fileZone #fileZoneInner.dragenter {
  border-color: #5f81d2;
}
#main #fileZone #textLog {
  color: #f00;
}
